n8n-vapi-workflow.json
{
  "name": "Vapi Call Processing",
  "nodes": [
    {
      "id": "webhook-vapi",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-end-of-call",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "vapi-end-of-call-report"
    },
    {
      "id": "filter-eoc",
      "name": "Is End-of-Call Report?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "extract-fields",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 240],
      "parameters": {
        "jsCode": "const msg = $input.first().json.body.message;\nconst call = msg.call;\nconst vars = call?.assistantOverrides?.variableValues ?? {};\nconst artifact = msg.artifact ?? {};\n\n// Parse transcript messages — filter out system messages and empty lines\nconst rawMessages = artifact.messages ?? [];\nconst transcriptMessages = rawMessages\n  .filter(m => m.message && typeof m.message === 'string' && m.message.trim() !== '' && m.role !== 'system')\n  .map(m => ({ role: m.role, text: m.message.trim() }));\n\n// Plain text transcript\nconst transcriptText = artifact.transcript ?? transcriptMessages.map(m => `${m.role}: ${m.text}`).join('\\n');\n\nreturn [{\n  json: {\n    application_id: vars.application_id ?? null,\n    vapi_call_id: call?.id ?? null,\n    started_at: msg.startedAt ?? null,\n    ended_at: msg.endedAt ?? null,\n    recording_url: artifact.recordingUrl ?? null,\n    transcript_messages: transcriptMessages,\n    transcript_text: transcriptText,\n    summary: msg.summary ?? null\n  }\n}];"
      }
    },
    {
      "id": "check-app-id",
      "name": "Has Application ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 240],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.application_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "call-analyse-api",
      "name": "Call Analyse API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 180],
      "parameters": {
        "method": "POST",
        "url": "https://ki-recruiting.vercel.app/api/call-analyse",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 65000
        }
      }
    },
    {
      "id": "no-op-skip",
      "name": "Skip (no app_id)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1200, 360],
      "parameters": {}
    },
    {
      "id": "no-op-not-eoc",
      "name": "Skip (not end-of-call)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [480, 440],
      "parameters": {}
    }
  ],
  "connections": {
    "Vapi Webhook": {
      "main": [
        [{ "node": "Is End-of-Call Report?", "type": "main", "index": 0 }]
      ]
    },
    "Is End-of-Call Report?": {
      "main": [
        [{ "node": "Extract Call Data", "type": "main", "index": 0 }],
        [{ "node": "Skip (not end-of-call)", "type": "main", "index": 0 }]
      ]
    },
    "Extract Call Data": {
      "main": [
        [{ "node": "Has Application ID?", "type": "main", "index": 0 }]
      ]
    },
    "Has Application ID?": {
      "main": [
        [{ "node": "Call Analyse API", "type": "main", "index": 0 }],
        [{ "node": "Skip (no app_id)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
