scripts/sales/n8n/start-sales-calls.json
{
  "name": "Sales — Start Sales Calls",
  "nodes": [
    {
      "id": "webhook-start",
      "name": "Start Sales Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "start-sales-call",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "sales-start-call"
    },
    {
      "id": "vapi-create-call",
      "name": "Vapi — Create Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body.vapi_payload) }}",
        "options": { "timeout": 15000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_VAPI_API_CREDENTIAL_ID", "name": "Vapi API" }
      }
    },
    {
      "id": "mark-ringing",
      "name": "sales_calls → ringing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 220],
      "parameters": {
        "operation": "update",
        "tableId": "sales_calls",
        "filterType": "manual",
        "matchType": "anyFilter",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Start Sales Call Webhook').first().json.body.sales_call_id }}" }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "ringing" },
            { "fieldId": "vapi_call_id", "fieldValue": "={{ $json.id }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": { "id": "ZBhoJp0VDK4YwJ7b", "name": "Supabase account" }
      }
    },
    {
      "id": "mark-failed",
      "name": "sales_calls → failed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 400],
      "parameters": {
        "operation": "update",
        "tableId": "sales_calls",
        "filterType": "manual",
        "matchType": "anyFilter",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Start Sales Call Webhook').first().json.body.sales_call_id }}" }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "failed" },
            { "fieldId": "end_reason", "fieldValue": "={{ 'Vapi API error: ' + ($json.error && $json.error.message ? $json.error.message : $json.message ? $json.message : JSON.stringify($json).slice(0, 400)) }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": { "id": "ZBhoJp0VDK4YwJ7b", "name": "Supabase account" }
      }
    }
  ],
  "connections": {
    "Start Sales Call Webhook": { "main": [[{ "node": "Vapi — Create Call", "type": "main", "index": 0 }]] },
    "Vapi — Create Call": {
      "main": [
        [{ "node": "sales_calls → ringing", "type": "main", "index": 0 }],
        [{ "node": "sales_calls → failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
