scripts/sales/n8n/vapi-sales-tools.json
{
  "name": "Sales — Vapi Data Tools",
  "nodes": [
    {
      "id": "webhook-tools",
      "name": "Vapi Sales-Tools Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-sales-tools",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "sales-vapi-tools",
      "onError": "continueRegularOutput"
    },
    {
      "id": "extract-tool",
      "name": "Extract Tool & Args",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const msg = $input.first().json.body?.message ?? {};\nconst toolCalls = msg.toolCalls ?? [];\nconst call = msg.call ?? {};\nconst vars = call?.assistantOverrides?.variableValues ?? {};\nconst phone = call?.customer?.number ?? null;\n\nconst first = toolCalls[0]?.function ?? {};\nconst toolName = first.name ?? null;\nconst toolArgs = first.arguments ?? {};\n\nreturn [{\n  json: {\n    tool_name: toolName,\n    tool_args: toolArgs,\n    tool_call_id: toolCalls[0]?.id ?? null,\n    phone,\n    sales_lead_id: vars.sales_lead_id ?? toolArgs.sales_lead_id ?? null,\n    sales_program_id: vars.sales_program_id ?? toolArgs.sales_program_id ?? null,\n    sales_call_id: vars.sales_call_id ?? null\n  }\n}];"
      }
    },
    {
      "id": "resolve-context",
      "name": "Resolve Lead + Program by Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://frsobblncygkmdtrarhq.supabase.co/rest/v1/sales_leads?phone=eq.{{ $json.phone }}&select=id,first_name,last_name,full_name,email,company_name,role,notes,custom_fields,sales_program_id,program:sales_programs(id,name,product_pitch,value_proposition,booking_link,target_persona)&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": { "timeout": 10000, "response": { "response": { "neverError": true } } }
      },
      "credentials": {
        "supabaseApi": { "id": "ZBhoJp0VDK4YwJ7b", "name": "Supabase account" }
      }
    },
    {
      "id": "build-context",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300],
      "parameters": {
        "jsCode": "const extracted = $('Extract Tool & Args').first().json;\nconst raw = $input.first().json;\nlet rows = [];\nif (Array.isArray(raw)) rows = raw;\nelse if (Array.isArray(raw && raw.body)) rows = raw.body;\nelse if (raw && typeof raw === 'object' && raw.id) rows = [raw];\nconst lead = rows[0] || null;\nconst program = lead && lead.program ? lead.program : null;\n\nreturn [{\n  json: {\n    tool_name: extracted.tool_name,\n    tool_args: extracted.tool_args,\n    tool_call_id: extracted.tool_call_id,\n    sales_lead_id: (lead && lead.id) || extracted.sales_lead_id,\n    sales_program_id: (program && program.id) || extracted.sales_program_id,\n    sales_call_id: extracted.sales_call_id,\n    phone: extracted.phone,\n    lead: lead,\n    program: program\n  }\n}];"
      }
    },
    {
      "id": "route-tool",
      "name": "Route by Tool",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1040, 300],
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "version": 2 }, "conditions": [ { "leftValue": "={{ $json.tool_name }}", "rightValue": "get_program", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "outputKey": "get_program" },
            { "conditions": { "options": { "version": 2 }, "conditions": [ { "leftValue": "={{ $json.tool_name }}", "rightValue": "get_lead_context", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "outputKey": "get_lead_context" },
            { "conditions": { "options": { "version": 2 }, "conditions": [ { "leftValue": "={{ $json.tool_name }}", "rightValue": "book_meeting", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "outputKey": "book_meeting" },
            { "conditions": { "options": { "version": 2 }, "conditions": [ { "leftValue": "={{ $json.tool_name }}", "rightValue": "log_objection", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "outputKey": "log_objection" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      }
    },
    {
      "id": "book-meeting",
      "name": "Persist Meeting (book_meeting)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 460],
      "parameters": {
        "method": "POST",
        "url": "=https://frsobblncygkmdtrarhq.supabase.co/rest/v1/sales_call_analyses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sales_call_id: $json.sales_call_id, meeting_booked: true, meeting_datetime: $json.tool_args.datetime }) }}",
        "options": { "timeout": 15000 }
      },
      "credentials": {
        "supabaseApi": { "id": "ZBhoJp0VDK4YwJ7b", "name": "Supabase account" }
      }
    },
    {
      "id": "log-objection",
      "name": "Log Objection (noop — appended by analyzer)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1240, 620],
      "parameters": {}
    },
    {
      "id": "respond-program",
      "name": "Respond get_program",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 140],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ result: { name: ($json.program && $json.program.name) || '', product_pitch: ($json.program && $json.program.product_pitch) || '', value_proposition: ($json.program && $json.program.value_proposition) || '', booking_link: ($json.program && $json.program.booking_link) || '' } }) }}"
      }
    },
    {
      "id": "respond-lead",
      "name": "Respond get_lead_context",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ result: { full_name: ($json.lead && $json.lead.full_name) || '', first_name: ($json.lead && $json.lead.first_name) || '', company_name: ($json.lead && $json.lead.company_name) || '', role: ($json.lead && $json.lead.role) || '', notes: ($json.lead && $json.lead.notes) || '', custom_fields: ($json.lead && $json.lead.custom_fields) || {} } }) }}"
      }
    },
    {
      "id": "respond-meeting",
      "name": "Respond book_meeting",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 460],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"result\": { \"booked\": true } }"
      }
    },
    {
      "id": "respond-objection",
      "name": "Respond log_objection",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 620],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"result\": { \"logged\": true } }"
      }
    },
    {
      "id": "respond-unknown",
      "name": "Respond unknown tool",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 780],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"result\": null, \"error\": \"unknown_tool\" }"
      }
    }
  ],
  "connections": {
    "Vapi Sales-Tools Webhook": { "main": [[{ "node": "Extract Tool & Args", "type": "main", "index": 0 }]] },
    "Extract Tool & Args": { "main": [[{ "node": "Resolve Lead + Program by Phone", "type": "main", "index": 0 }]] },
    "Resolve Lead + Program by Phone": { "main": [[{ "node": "Build Context", "type": "main", "index": 0 }]] },
    "Build Context": { "main": [[{ "node": "Route by Tool", "type": "main", "index": 0 }]] },
    "Route by Tool": {
      "main": [
        [{ "node": "Respond get_program", "type": "main", "index": 0 }],
        [{ "node": "Respond get_lead_context", "type": "main", "index": 0 }],
        [{ "node": "Persist Meeting (book_meeting)", "type": "main", "index": 0 }],
        [{ "node": "Log Objection (noop — appended by analyzer)", "type": "main", "index": 0 }],
        [{ "node": "Respond unknown tool", "type": "main", "index": 0 }]
      ]
    },
    "Persist Meeting (book_meeting)": { "main": [[{ "node": "Respond book_meeting", "type": "main", "index": 0 }]] },
    "Log Objection (noop — appended by analyzer)": { "main": [[{ "node": "Respond log_objection", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
